@import 'variable';
.diaryListItem{
    font-family: Microsoft JhengHei;
    margin: 0 10px 10px 10px;
    height: 100px;
    background: rgba(255,255,255,@global_opacity);
    color: @base_color;
    border-radius: 5px;
    position: relative;
    &:first-child{
        margin-top: 10px;
    }
    .left_content{
        position: absolute;
        top: 0;
        left: 0;
        height: 100px;
        width: 70px;
        text-align: center;
        .date{
            font-size: 50px;
            padding: 5px;
            line-height: 60px;
            height: 60px;
        }
        .day{
            font-size: 12px;
            height: 30px;
        }
    }
    .center_content{
        position: absolute;
        top: 0;
        left: 70px;
        right: 80px;
        bottom: 0;
    }
    .right_content{
        position: absolute;
        width: 80px;
        height: 100%;
        top: 0;
        right: 0;
    }

}
